.contactBlock {
    background: #343232;
    height: 500px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    align-items: center;
}
.contact {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid;
    height: 400px;
    justify-content: space-between;
}
.textarea {
height: 200px;
}
.spanContact{
    text-align:center;
    padding-bottom: 50px;
    font-size: 30px;
}