.skillsBlock {
    height: 60vh;
    background-color: #343232;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillsContainer {
    flex-direction: column;
    height: 25vh;
}

.title {
    color: bisque;
    text-align: center;
    font-size: 30px;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
