.FreeWorkBlock {
    height: 35vh;
    background: rgb(68, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;

}
.WorkBlock{
    text-align:center;
    border: 1px solid;
    background: #a09898;
    height: 150px;
    width: 800px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.button {
    width: 100px;
    height: 35px;
}
.title {
    border: 1px solid;
    border-radius: 6px;
    color: bisque;
    text-align: center;
    font-size: 30px;
}