.projectBlock {
    height: 100vh;
    background: url('https://phonoteka.org/uploads/posts/2021-04/1618460092_50-p-fon-dlya-saita-temnii-50.jpg');
}
.projects{
    height: 300px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
.title {
    color: bisque;
    text-align: center;
    font-size: 30px;
}